descriptors/mbtr/mbtr.csv filter=lfs diff=lfs merge=lfs -text
descriptors/mbtr_bind_otherbinary/mbtr_bind_otherbinary.csv filter=lfs diff=lfs merge=lfs -text
descriptors/mbtr-cif/mbtr-cif.csv filter=lfs diff=lfs merge=lfs -text
